* {
  margin: 0;
  padding: 0;
}
:root {
  --dark-color1: #363538;
  --dark-color2: #8d8c8a;
  --light-color1: #f6f6f6;
  --light-color2: #408697;
  --light-color3: #52d6f4;
}
body {
  text-align: center;
  font-family: Arial;
  background-color: var(--dark-color1);
  color: var(--light-color1);
  display: grid;
  grid-template-columns: auto;
  gap: 100px;
}
h3 {
  font-size: 25px;
  color: var(--light-color2);
}
/* removed box because it is impossible to get even height for all boxes */
.projectbox {
  color: var(--light-color1);
  padding: 10px;
  margin: 20px;
}
.projectbox > a {
  color: var(--light-color3);
}
.text-highlight {
  color: var(--light-color3);
}
#spacestationscreenshot, #weatherscreenshot {
  width: 300px;
  height: auto;
  display: inline-block;
}
#header-text{
  font-size: 30px;
  color: var(--light-color2);
  padding: 20px 0 20px 0;
}
@keyframes cursor-blink{
  0% {background-color: var(--light-color3);}
  50% {background-color: var(--dark-color1);}
  100% {background-color: var(--light-color3);}
}
#square-cursor-animate {
  display: inline-block;
  height: 30px;
  width: 14px;
  background-color: var(--light-color3);
  margin-left: 5px;
  animation: cursor-blink 0.5s infinite;
}
#navbar {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: center;
}
#navbar > a {
  margin: 10px;
}
#navbar > a > input {
  color: var(--light-color3);
  text-decoration: underline;
  font-size: 24px;
  background-color: var(--dark-color1);
  border: none;
  padding: 2px 5px 2px 5px;
}
#header-divider {
  display: inline-block;
  height: 2px;
  width: 80%;
  background-color: var(--light-color3);
}
#aboutme {
  font-size: 23px;
  text-align: justify;
  margin: 0 30px 0 30px;
}
#skillset > ul {
  display: inline-block;
  text-align: left;
  list-style: none;
}
#skillset > ul > li::before {
  content: "\2713";
  color: var(--light-color3);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#projectcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-flow: row wrap;
}
#contact {
  margin-bottom: 30px;
}
#contact > p > a {
  color: var(--light-color3);
}